<section id="content" role="main">
  <header class="aui-page-header">
    <div class="aui-page-header-inner">
      <div class="aui-page-header-main">
        <h1>Base Addon</h1>
      </div>
    </div>
  </header>

  <div class="aui-page-panel main-panel">
    <div class="aui-page-panel-inner">
      <div class="aui-page-panel-inner">
        <section class="aui-page-panel-nav">
          <app-sidebar></app-sidebar>
        </section>
        <section class="aui-page-panel-content">
          <app-dialog></app-dialog>
          <router-outlet></router-outlet>
        </section>
      </div>
    </div>
  </div>
</section>